#background {
    max-width: 1000px;
    margin: 0 auto;
}

#background h1 {
    text-align: center;
}

#background p {
    margin: 0;
}

#maxRowWidth {
    max-width: 700px;
    margin: 0 auto;
}

#background table {
    width: 100%;
    text-align: left;
}

#totalCostStyling {
    background-color: #F7F5EB;
    padding: 5px 20px;
    border-radius: 10px;
}

#editDeleteButton {
    text-align: center;
}

.tableHeading {
    font-weight: bold;
}