.buttonStyling {
    text-decoration: none;
    border: none;
    transition: 0.3s;
    padding: 8px;
}

.buttonStyling:hover {
    cursor: pointer;
}

.buttonStyling:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.backButton {
    background-color: #add8e6;
    text-align: left;
    font-size: 16px;
}

.backButton:hover {
    background-color: #5bbbdb;
}

.addTrancactionRecordButton {
    background-color: #E1D7C6;
    border: 2px solid black;
    border-radius: 20px;
}

.addTrancactionRecordButton:hover {
    background-color: #e0b161;
}

.addTransaction-submit-button {
    font-size: 18px;
    color: white;
    background-color: #144272;
    width: 110px;
    border: 2px solid black;
    border-radius: 20px;
}

.addTransaction-submit-button:hover {
    background-color: #0A2647;
}

.addTransaction-clear-button {
    font-size: 18px;
    background-color: #FFEBB7;
    width: 110px;
    border: 2px solid black;
    border-radius: 20px;
}

.addTransaction-clear-button:hover {
    background-color: #f9d782;
}

.addTransaction-cancel-button {
    font-size: 18px;
    background-color: #C58940;
    color: white;
    width: 110px;
    border: 2px solid black;
    border-radius: 20px;
}

.addTransaction-cancel-button:hover {
    background-color: #ce770c;
}

.addTransaction-addItem-button {
    background-color: #E1D7C6;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid black;
}

.addTransaction-addItem-button:hover {
    background-color: #dbbb84;
}

.addTransaction-removeItem-button {
    background-color: #BAD7E9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.addTransaction-removeItem-button:hover {
    background-color: #6db8e6;
}

.edit-item-added-before-save-button {
    background-color: #2C74B3;
    color: white;
    width: 100px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid black;
}

.edit-item-added-before-save-button:hover {
    background-color: #0d66b4;
}

.edit-item-button {
    background-color: #2C74B3;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.edit-item-button:hover {
    background-color: #0061b6;
}

.transactionDetail-edit {
    background-color: #FFDB89;
    width: 100px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid black;
}

.transactionDetail-edit:hover {
    background-color: #fec744;
}

.transactionDetail-delete {
    color: white;
    background-color: #EB455F;
    width: 100px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid black;
}

.transactionDetail-delete:hover {
    background-color: #eb0a2c;
}